@font-face {
  font-family: Banner;
  src: url(assets/wicked.otf);
}

@font-face {
  font-family: WeekdayFont;
  src: url(assets/mouse.ttf);
}

@font-face {
  font-family: MicTitleFont;
  src: url(assets/sunshine.ttf);
}

.header{
  font-family: 'Banner';
  font-size: 40px;
}

.nav {
  font-family: 'WeekdayFont';
  font-size: 25px;
}

.card-title {
  /* font-family: "MicTitleFont"; */
  font-family: 'WeekdayFont';
  font-size: 20px;
} 

html, body, #root, .app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

body {
  background:
  radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#eae0b2 68% 70%,#0000 72%) 32px 32px/calc(2*32px) calc(2*32px),
  radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#eae0b2 68% 70%,#0000 72%) 32px 32px/calc(2*32px) calc(2*32px),
  radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#eae0b2 68% 70%,#0000 72%) 0 0/calc(2*32px) calc(2*32px),
  radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#eae0b2 68% 70%,#0000 72%) 0 0/calc(2*32px) calc(2*32px),
  repeating-conic-gradient(#47d3ff 0 25%,#0000 0 50%) 0 0/calc(2*32px) calc(2*32px),
  radial-gradient(#0000 66%,#eae0b2 68% 70%,#0000 72%) 0 calc(32px/2)/32px 32px
  #47d3ff;


}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  width: 80%;
  border-radius: 10px;
  margin-top: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
  /* border-radius: 10px; */
  overflow: hidden;
  /* border: 1px dashed pink; */
}

.navtext {
  /* color: yellow; */
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding: 0 10px;
}

.active {
  /* color: orange; */
  border-left: 1px solid #F2BD69;
  border-right: 1px solid #F2BD69;
  border: 1px solid #F2BD69;
  border-radius: 50%;
  padding: 0 10px;
}

.torso {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* border: 1px pink dotted; */
}

.mic-container {
  margin: 10px 0px;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  color: yellow;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border: 1px white solid;
  border-radius: 10px;
  /* border: 1px dashed red; */
  /* overflow: scroll; */
}



.mic-list {
  width: 100%;
  height: 90%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px dashed orange; */
  border-radius: 10px;
  overflow: scroll;
}

.mic-card {
  width: 350px;
  height: 200px;
  /* border: 1px green solid; */
  border-radius: 10px;
  /* color: yellow; */
  background-color: black;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}

.card-title {
  text-decoration: underline;
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: rgb(44, 42, 42);
  padding: 20px;
  border-radius: 4px;
  border: 1px solid orange;
  position: relative;
  width: 500px;
  max-width: 100%;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.mic-container, .header, .footer {
  background: rgba(255,255,255,0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  /* border: 1px solid rgba(255,255,255,0.5); */
  /* border-radius: 10px; */
}

.header {
  border: 0px;
  /* border-bottom: 1px solid rgba(255,255,255,0.5); */
}

.link-color-override, .link-color-override:hover {
  color: #f19fdf;
  position: relative; 
  
}

.link-color-override {
  position: relative; /* Ensure the pseudo-elements are positioned relative to the parent */
}

.link-color-override::before,
.link-color-override::after {
  content: ''; /* Empty content for the pseudo-elements */
  position: absolute;
  left: 0;
  right: 0;
  height: 2px; /* Thickness of the border */
  background-color: pink; /* Color of the border */
  transform: scaleX(0); /* Start with no border visible */
  transition: transform 0.3s ease; /* Smooth transition for the border */
}

.link-color-override::before {
  top: 0; /* Position the top border */
}

.link-color-override::after {
  bottom: 0; /* Position the bottom border */
}

.link-color-override:hover::before,
.link-color-override:hover::after {
  transform: scaleX(1); /* Expand the borders on hover */
}


.header, .navtext, .mic-container, .mic-list, .mic-card {
 color: #ec9b19; 
}

.header {
  background-color: #1789FC;
}

.mic-container {
  background-color: #e8d88f;
}

.mic-card {
  background-color: #3C3C3C;
}

.nav {
  background-color: rgba(0, 0, 0, 0.5);
}


@media (max-width: 850px) {

  .header{
    font-size: 15px;
    width: 90%;
  }
  
  .nav {
    font-size: 20px;
    gap: 1px;
  }

  .mic-container {
    width: 90%;
  }

}


